<!DOCTYPE html>
<html>
    <head>
        <title>Task Assigner</title>
        <link rel = "stylesheet" href = "stylesheets/mainstyles.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">

    </head>
    
    <body>
        
        <ul class ="navbar">
            <li class = "navbar-icon">pic</li>
            <li class = "navbar-home" ><a href = "/">Home</a></li>
            <li class = "navbar-help">Help</li>
            <li class = "navbar-login">Login</li>
        </ul>
        
        
        
        
    