<% include ./partials/header.ejs %>


    <h1><%= name %></h1>
    
    <div id = "mainContainer">
        
        <div id = "innerContainer">
            
            <div class = "task people" >
                
                <input type = "text" class = "peopleList" placeholder = >
                <ul class = "peopleList">
                    <li>left</li>
                </ul>
                
            </div>
            
            
            <button id = "assign">Assign</button>
            <!--<p>Total People:</p>-->
            
            <div class = "task tasks">
                
                <input type = "text" class = "taskList">
                <ul class = "taskList">
                    <li>right</li>
                </ul>
                
            </div>
        </div>
    </div>

    <button id = "reset">Reset</button>
    
    







<% include ./partials/footer.ejs %>