<% include ./partials/header.ejs %>

        <a href = "/events"><i class="fas fa-arrow-left"></i></a>
   
        <h1><%= name %></h1>
   
    <div id = "mainContainer">
        
        <div id = "innerContainer">
            
            <div class = "task people" >
                
                <h4>Name</h4>
                <input type = "text" class = "peopleList" placeholder = >
                <ul class = "peopleList">
                    
                    
                    
                  
                </ul>
                
            </div>
            
            
            <button id = "assign">Assign</button>
            <!--<p>Total People:</p>-->
            
            <div class = "task tasks">
                
                <h4>Task</h4>
                <input type = "text" class = "taskList">
                <ul class = "taskList">
                    
                    
                
                    
                </ul>
                
            </div>
        </div>
    </div>

    
    
    







<% include ./partials/footer.ejs %>