<% include ./partials/header.ejs %>



<div class = "home">
    <h1>Task Assigner</h1>
    <div>
        <p>Event Name:</p>
        <p id="left-label">Date Created:</p>
    </div>
    <ul>
        
        <% for(let i=0; i< events.length; i++){ %>
    
           <a href = "/events/<%= events[i]._id %>">
               <li id = "<%= events[i]._id %>">
                   <%= events[i].title %>
                   <span><%= events[i].createdAt.toDateString() %></span>
                </li>
           </a>
        <% } %>
    </ul>
    
    
    <form action = "/events/new" method = "POST">
        <input type = "text" placeholder = "Event Name" name= "event">
        <input type = "submit" value = "New Event">
    </form>

</div>


<% include ./partials/footer.ejs %>