<% include ./partials/header.ejs %>



<div class = "home">
    <ul>
        <li>test</li>
        <% for(let i=0; i< events.length; i++){ %>
    
           <a href = "/<%= events[i]._id %>">
               <li id = "<%= events[i]._id %>"><%= events[i].title %></li>
           </a>
        <% } %>
    </ul>
    
    
    <form action = "/new" method = "POST">
        <input type = "text" placeholder = "Event Name" name= "event">
        <input type = "submit" value = "New Event">
    </form>

</div>


<% include ./partials/footer.ejs %>