<% include ./partials/header.ejs %>


<div id = "mainContainer">
    <div id = "innerContainer">
        
        <div class = "task people" >
            
            <input type = "text" class = "peopleList">
            <ul class = "peopleList">
                <li>left</li>
            </ul>
            
        </div>
        
        
        <button>Assign</button>
        
        <div class = "task tasks">
            
            <input type = "text" class = "taskList">
            <ul class = "taskList">
                <li>right</li>
            </ul>
            
        </div>
      
        
        
    </div>
</div>









<% include ./partials/footer.ejs %>