body{
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

input{
    width: 250px;
    border: none;
    padding: 5px;
    font-size: 20px;
    
    
}

button[id = 'assign']{
    color: white;
    background-color: #1da1f2;
    border:none;
    font-size: 15px;
    padding: 5px;
    width: 130px;
    border-radius: 10px;
    outline:none;
}

h1{
    text-align: center;
    margin-bottom: 100px;
    color: white;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    
}

li{
    font-size: 20px;
    color: rgb(60,60,60);
    padding: 5px;
    border-bottom: 1px solid gray;
    list-style: none;
    background-color: #edf0f5;
    width: 250px;
    word-wrap: break-word;
    
}


#mainContainer{
    text-align: center;
    
    
}

#innerContainer{
    display: inline-block;
    position: relative;
    width: 800px;
    
    
    
}

.task{
    display: inline-block;
    position: absolute;
    
    
}

.task.people{
    left:0;

}

.task.tasks{
    right:0;
    
}

#results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.subjects{
    
    margin-top: 30px;
    background-color: rgb(220,220,220);
    
    margin: 30px auto 0 auto;
    /*position: relative;*/
    padding-bottom: 10px;
    flex-basis: 600px;
}

.subjects .list-items{
    border: 2px solid blue;
    margin: 5px;
    display: inline-block;
    padding: 3px 10px;
    color: rgb(20,20,20);
    
    margin-left: 15px;
}



#reset{
    display: none;
    float: right;
    background-color: #f44336;
    color: white;
    border:none;
    font-size: 15px;
    padding: 5px;
    width: 130px;
    height: 50px;
    outline: none;
    margin: 50px 100px 100px 0;

}

p{
    display: inline-block;
}

h3{
    font-size: 1.3em;
    margin: 0;
    margin-bottom: 5px;
    padding: 10px 0 10px 20px;
    background-color: #555555;
    color: white;
}